
<h1>New Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>


  <div class="form-actions">
    <%= button_to :submit %>
    <%= link_to 'Delete', 
                event, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @event.new_record? %>
  </div>


