/* // Variables
#ad0000: #ad0000;

// Placeholder selectors
%transition {
  transition: all .25s;
} */

/*=Typography=*/

html {
  font-size: 16px;
}

body {
  font-family: 'Khand', sans-serif;
  font-weight: 300;
}

.navbar a, .sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  color: #A0A0A0;
  font-size: 25px;
  padding-right: 20px;
  font-family: 'Khand', sans-serif;
  font-weight: 30;
  text-align: center;
  letter-spacing: 3px;
}

.navbar.navbar-default.navbar-fixed-top {
  display: inline-block;
  list-style-type: none;
  top: 0; // margin: 50px;
  // padding-bottom: 10px;
  position: fixed;
  overflow: hidden;
}

.navbar.navbar-default.navbar-fixed-top a {
  font-size: 30px;
  color: #A0A0A0;
  margin-bottom: 10;
  text-align: center;
}

.container {
  font-size: 50px;
}

.container>h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 15px;
}

p {
  font-size: 30px;
  line-height: 1.5;
  padding-left: 5px;
}

p#hello {
  font-size: 35px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.sec-about a {
  text-decoration: underline;
}

.sec-services h2, .sec-services p {
  font-weight: 300;
  text-align: center;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/

section {
  // padding: 5em 0;
}

footer {
  padding: 3em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  @extend %transition;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

/*=Layout=*/

.sec-folio .row {
  margin-bottom: 3em;
}

.sec-folio img {
  max-width: 100%;
}

/*Header*/

.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ad0000;
}

.navbar-default .navbar-nav>li>a:active {
  color: #ad0000;
}

/*Main*/

.sec-main {
  position: relative;
  height: 650px;
  background: url("https://static.pexels.com/photos/205316/pexels-photo-205316.png") no-repeat center center;
  background-size: cover;
  padding: 100px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding-bottom: 250px;
  margin: auto;
  height: 40px;
  color: #A0A0A0;
}

/*About*/

.sec-about a {
  color: #000;
  &:hover, &:focus {
    color: #ad0000;
  }
}

// About Me section
section#about.sec-about {
  text-align: center;
}

.row {
  text-align: center;
}

#container .row2 {
  text-align: center;
}

.col-md-5 .hobbies2-block {
  height: 450px;
  width: 400px;
  position: relative;
  display: inline;
  padding: 10px;
}

.col-md-5 .hobbies-block {
  height: 450px;
  width: 400px;
}

img.hobbies2-block {
  text-align: center;
  height: 450px;
  width: 400px;
}

/*Services*/

.sec-services {
  background: #f9f9f9;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.sec-services .fa-paint-brush {
  width: 64px;
}

.sec-services .fa-code {
  width: 68px
}

.sec-services h2 {
  margin: 1em 0;
}

/*Hobbies section*/

.sec-testimonials {
  background: #f9f9f9;
}

.col-md-4 .hobbies-block {
  height: 450px;
  width: 400px;
}

/*Contact*/

.sec-contact .form-control:focus {
  border-color: #ad0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
  padding: .5rem 1.75rem;
  background: #000;
  font-size: .95rem;
  color: #fff;
  @extend %transition;
  &:hover, &:focus {
    background: #ad0000;
    border-color: darken(#ad0000, 10%);
  }
}

/*Footer*/

footer {
  background: #000;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
  &:hover, &:focus {
    color: #ad0000;
  }


