#homepage {
	
	margin: 0;
	padding: 0;
	font-family: verdana;
	background-color: #E9B44C;
	overflow: hidden;

}

 #homepage h1 {
	background-color: #E9B44C;
	text-align: center;
}

.sidebar{ 

	position: fixed;
	top: 0;
	left: -250px;
	background: #262626;
	width: 250px;
	height: 100%;
	transition: .3s;

 }


.active {
	left: 0px;
}



 ul {
 	margin: 0;
 	padding: 20px 0;
 }

 ul li {
 	list-style: none;

 }

 ul li a {
 	padding: 10px 20px;
 	color: #fff;
 	display: block;
 	text-decoration: none;
 	border-bottom: 1px solid rgba(0,0,0,.2);

 }

 .sidebarBtn {

 	position: absolute;
 	top: 0;
 	right: -50px;
 	width: 50px;
 	height: 50px;
 	box-sizing: border-box;
 	cursor: pointer;
 	background: #f5f5f5;
 	border: none;
 	outline: none;
 }

 .sidebarBtn span {
 	display: block;
 	width: 35px;
 	height: 3px;
 	background: #262626;
 	position: absolute;
 	top: 24px;
 	transition:  .3s;

 }

.sidebarBtn span:before {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}


.sidebarBtn span:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}



.sidebarBtn.toggle span {
	background: transparent;

}


.sidebarBtn.toggle span:before {
	top: 0;
	transform: rotate(45deg);
}

.sidebarBtn.toggle span:after{
	top: 0;
	transform: rotate(-45deg);
}




/*CSS for background video*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*This is the end of the CSS for the background video*/

/*Below is the CSS for the Google Translate*/


#google_translate_element {
	position: absolute;
	text-align: right;
}


/*Below is the CSS for the parent resouces page*/	

#mom_daughter img {
	height: 400px;
	width: 1200px;
	margin: 0 auto;
	padding-left: 30px;
}


#mom_daughter h1{
	font-family: verdana;
	font-size: 20px;
	text-align: center;
}



