<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="default.css">
    <!-- V -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://use.fontawesome.com/2755c231b3.js"></script>

    <title></title>
  </head>
  <body>
    <div id="signup_bg1">
      <div class="container">
        <!--everything on the page-->
        <div class="row">
          <header>
            <div class="sidebar">
              <!-- <div class="logo">ZIPCODE</div> -->
              <nav>

                <a href="/" class="nav-item">Login</a>
                <a href="/publicfeed" class="nav-item">Feed</a>
                <a href="/signup" class="nav-item active">Sign up</a>
                <a href="/profile" class="nav-item">Posts</a>

                <!-- When logged on this appears -->
                <% if @current_user %>
                <a href="/editprofile" class="nav-item" >Edit Profile</a>
                <a href="/feed" class="nav-item">
                  My Feed</a>
                <a href="/" class="nav-item">Logout</a>
                <% end %>

                <a href="/" class="nav-item-special">ZIPCODE</a>
              </nav>
            </div>
          </header>
        </div>
        <% if flash[:message] %>
        <div id="notice"><%= flash[:message] %></div>
        <% end %>

        <%= yield %>

        <!-- FOOTER/BOTTOM -->
        <div class="row">
          <footer>
            <div>
              <p id="footer_text">Use of this site constitutes acceptance of our User Agreement and Privacy Policy. © 2017 ZIPCODE Inc. <br>All rights reserved. <br>ZIPCODE and the ZIPCODE Logo are registered trademarks of ZIPCODE Inc.</p>
            </div>
            <!--closing column 3-->
          </footer>
        </div>
        <!--closing row 7-->
        <div class="row">
          <div class="last"></div>
        </div>
        <!--closing row 8-->
      </div>
      <!--closing container div-->
    </div>
  </body>
  <script src="main.js"></script>

</html>
