<h2 id="profile_title">Ready to publish a Zipcode entry? Great! Complete the form below and then hit
  <b>"Publish"</b>
  to post.</h2>

<body id="page2">
  <div class="profile_display">
    <img class="profilepic" src="<%=@current_user.profilepic%>">
    <h2 id="username1"><%=@current_user.username%></h2>
  </div>

  <!-- DELETE PROFILE Button OPEN-->

  <form class="delete" action="/userprofile" method="post">
    <input id="delete_button" type="submit" name="delete_account" value="Delete Account">
  </form>




  <!-- DELETE PROFILE Button CLOSE  -->

  <!--Form to add a post to feed page-->
  <form action"/profile" method="post" name="/sources">
    <div class="profile-form-input">
      <input type="text" name="title" placeholder="Blog Post Title"><br>

      <input type="text" name="theme" placeholder="Topic"><br>

      <input type="url" name="link" placeholder="URL"><br>

      <input type="text" name="image" placeholder="Image URL"><br>

      <input type="text" name="text" placeholder="Enter Short Description"><br>

      <input type="submit" name="submit" value="Publish" class="publish">
      <br>
    </div>
  </form>
