

<%= form_with(model: intention, local: true) do |form| %>
  <% if intention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intention.errors.count, "error") %> prohibited this intention from being saved:</h2>

      <ul>
      <% intention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
